<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="descriptions" content="{{ descriptions }}"/>
    <!-- Bootstrap CSS & Icons -->
    <link rel="stylesheet" href="{{ theme_assets('style.css') }}" />
    <!-- Bootstrap CSS & Icons -->
    <script src="https://kit.fontawesome.com/b2680ca368.js" crossorigin="anonymous"></script>
     
    <title>{{ page_title }}</title>
</head>
<body>
    @include('header')
    @yield('content')
    @include('footer')
</body>
</html>