<div class="header">
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ route('home') }}" class="lgo d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none">
                    {{ app_name }}
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="{{ route('home') }}" class="nav-link display-6 text-secondary">
                            Home
                        </a>
                    </li>
                    
                    <li>
                        <a href="{{ route('users') }}" class="nav-link display-6 text-white">
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="w-50 me-3 col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            <div class="text-end">
                @guest
                <a href="{{ route('auth.login') }} " class="btn btn-light text-dark me-2">Login</a>
                <a href="{{ route('auth.signup') }}" class="btn btn-primary">Sign-up</a>
                @endguest

                @auth
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> &nbsp;&nbsp;{{ Auth::name() }}
                    </a>

                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="{{ url('/auth/inbox') }}">Inbox</a></li>
                        <li><a class="dropdown-item" href="{{ url('/auth/settings') }}">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ route('auth.profile', ['id' => session('user_id')]) }}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ route('auth.logout') }}">Sign out</a></li>
                    </ul>
                </div>
                @endauth
            </div>
        </div>
    </div>
</div>