@extends('layout')

@section('content')
<div class="container">
    <div class="card">
        <div class="card-header">
            {{ trans('register') }}
        </div>
        <div class="card-body">
            {{ formOpen(route('auth.signup'), 'post', ['class' => 'form']) }}
            <div class="mb-3">
                {{ formlabel('user_name', 'Username: *', ['class' => 'form-label']) }}
                {{ formInput('text', 'user_name', '', ['class' => 'form-control', 'id' => 'user_name', 'aria-describedby' => 'user_name_help', 'required' => '']) }}
                <div id="user_name_help" class="form-text">We'll never share your username with anyone else.</div>
            </div>

            <div class="mb-3">
                {{ formlabel('user_email', 'E-Mail address: *', ['class' => 'form-label']) }}
                {{ formInput('email', 'user_mail', '', ['class' => 'form-control', 'id' => 'user_mail', 'aria-describedby' => 'user_mail_help', 'required' => '']) }}
                <div id="user_mail_help" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                {{ formlabel('user_password', 'Password: *', ['class' => 'form-label']) }}
                {{ formInput('password', 'user_password', '', ['class' => 'form-control', 'id' => 'user_password', 'required' => '']) }}
            </div>

            {{ formbutton('Register', ['class' => 'btn btn-primary', 'id' => 'send']) }}
            {{ csrfToken() }}
            {{ formClose() }}
        </div>
    </div>
</div>
@endsection